
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmailInBookingLabel" data-translate="galileoBookingApp.emailInBooking.home.createOrEditLabel">Create or edit a Email In Booking</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.emailInBooking.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.emailInBooking.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="galileoBookingApp.emailInBooking.emailType" for="field_emailType">Email Type</label>
            <select class="form-control" name="emailType" ng-model="vm.emailInBooking.emailType" id="field_emailType" required>
                <option value="TO" data-translate="galileoBookingApp.EmailType.TO">TO</option>
                <option value="FROM" data-translate="galileoBookingApp.EmailType.FROM">FROM</option>
            </select>
            <div ng-show="editForm.emailType.$invalid">
                <p class="help-block"
                    ng-show="editForm.emailType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="galileoBookingApp.emailInBooking.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.emailInBooking.email"
                    required/>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="galileoBookingApp.emailInBooking.booking" for="field_booking">Booking</label>
            <select class="form-control" id="field_booking" name="booking" ng-model="vm.emailInBooking.booking" ng-options="booking as booking.id for booking in vm.bookings track by booking.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
